site_name: LireSW

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: pink
      toggle:
        icon: material/toggle-switch-off-outline
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch
  features:
    - navigation.instant
    - navigation.top
    - content.code.copy

nav:
  - Accueil: index.md

plugins:
  - search

markdown_extensions:
  - footnotes
  - pymdownx.tasklist:
      custom_checkbox: true
  - def_list
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - toc:
      permalink: true

extra_css:
  - stylesheets/extra.css
